extends ../layout.jade

block body
  div(ng-controller="RegistrationFormController as vm")
    form(method="POST" action="/users/new" name="vm.registration" novalidate)
      .form-group(ng-class="{ 'has-error': vm.registeration.username.$dirty && vm.registration.username.$invalid }")
        label(for="username") Username
        input.form-control(type="text" name="username" ng-model="vm.user.username" required unique-username)
        p(ng-show="vm.registration.username.$error.uniqueUsername") Username must be unique.
      .form-group(ng-class="{ 'has-error': vm.registration.email.$dirty && vm.registration.email.$invalid }")
        label(for="email") Email Address
        input.form-control(type="email" name="email" ng-model="vm.user.email" required)
        div(ng-show="vm.registration.email.$error.email")
          p Must be an email address.
      .form-group(ng-class="{ 'has-error': vm.registration.password.$dirty && vm.registration.password.$invalid }")
        label(for="password") Password
        input.form-control(type="password" name="password" ng-model="vm.user.password" required)
        label(for="password_confirm") Confirm Password
        input.form-control(type="password" name="confirm_password" ng-model="user.confirm_password" registration-password-match="password")
        button.btn.btn-default(type="submit" ng-disabled="vm.registration.$invalid") Register!

    pre user = {{ vm.user | json }}
    pre registration = {{ vm.registration | json }}
